#Marquesina{
    margin: -10px;
    min-width: 110% ;
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    align-items: center;
   align-content: space-between;
}

.btnMarq{
    min-width: 100px;
    min-height: 40px;
    border: 1px solid #2a9e15;
    background-color: transparent;
    color: white;
    font-size: 20px;
}