#Marquesina{
    margin: -10px;
    min-width: 100% ;
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    align-items: center;
    justify-content: space-between;
}

#Op_marquesina{
    min-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 1%;
}

#logo{
    margin-left: 1%;
}

.btnMarq{
    min-width: 100px;
    min-height: 40px;
    margin-right: 1%;
    border: 1px solid #2a9e15;
    background-color: transparent;
    color: white;
    font-size: 20px;
}